body{
    margin: 0px;
}
#box1{
    background-color: #35424a;
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #e8491d;
}
#rubrik1{
    color: #e8491d;
    margin-left: 8%;
}
#länkar{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 40%;
}
#HEM{
    color: #e8491d;
}
.länk1{
    color: white;
}
a{
    text-decoration: none;
}

#box2{
    display: flex;
    flex-direction: column;
    background-image: url(./img/showcase\ \(1\).jpg);
    color: white;
    background-repeat: no-repeat;
    align-items: center;
}
#rubrik2{
    margin-top: 85px;
    font-size: 65px;
}
#text1{
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    margin-bottom: 75px;
    font-size: large;
}
#rad{
    display: flex;
    flex-direction: row;
    background-color: #35424a;
    width: 100%;
}
#Subscribe{
    margin-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}
#sökfält{
    display: flex;
    background-color: white;
    height: 30px;
    width: 250px;
    margin-top: 27px;
    margin-left: 250px;
    border: 2px solid gray;
}
#Enter{
    color: gray;
    margin-top: 6px;
}
#button{
    display: flex;
    background-color: #e8491d;
    margin-left: 5px;
    height: 35px;
    width: 100px;
    margin-top: 26px;
}
#sub{
    margin-left: 16px;
    margin-top: 9px;
}
#bild-länkar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 75px;
    margin-left: 75px;
    margin-top: 35px;
}
#html{
    text-align: center;
    width: 300px;
}
#html-logo{
    width: 100px;
}

#css{
    text-align: center;
    width: 300px;
}
#css-logo{
    width: 100px;
    height: 100px;
}

#graphic{
    text-align: center;
    width: 300px;
}
#grades-logo{
    width: 100px;
    height: 100px;
}
#lastbox{
    background-color: #e8491d;
    color: white;
    width: 100%;
    height: 75px;
    text-align: center;
}
#lasttext{
    padding-top: 30px;
}